.contenedor{
    display: grid;
    grid-template-columns:250px 250px 250px 250px 250px 250px ;
    grid-template-rows:250px 90px 480px 50px ;
    grid-template-areas:
    'enc enc enc enc enc enc'
    'enl enl enl enl enl enl'
    'for for con con info info'
    'pie pie pie pie pie pie'
    ;
}
.enc{
    background-color: bisque;
    grid-area: enc;
}
.enl{
    background-color: rgb(109, 85, 56);
    grid-area: enl;
}
.for{
    background-color: rgb(207, 152, 83);
    grid-area: for;
}
.con{
    background-color: rgb(150, 101, 42);
    grid-area: con;
}
.info{
    background-color: rgb(172, 145, 113);
    grid-area: info;
}
.pie{
    background-color: burlywood;
    grid-area: pie;
}
header{
        width: 1500px;
        height: 250px;
}


header h1 {
    margin: 0;
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: cornsilk;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main{
    text-align: center;
}
section {
    margin: 20px;
    background-color: white;
}
    
nav{
    margin: 20px;
    background-color: white;
}


h2 {
    color: #333;
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    
    
}








